*.csv
*.RData
*.Rhistory
**/paperData/**
*.e*
*.o*
tests/h2_hsfs/getH2_hsfs/data/data_cleanup.R
*.RDS
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0001.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0002.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0003.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0004.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0005.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0006.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0007.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0008.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0009.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0010.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0011.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0012.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0013.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0014.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0015.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0016.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0017.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0018.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0019.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0020.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0021.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0022.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0023.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0024.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0025.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0026.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0027.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0028.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0029.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0030.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0031.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0032.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0033.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0034.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0035.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0036.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0037.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0038.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0039.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0040.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0041.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ_gen0042.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_aZ.mp4
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0001.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0002.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0003.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0004.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0005.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0006.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0007.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0008.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0009.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0010.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0011.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0012.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0013.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0014.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0015.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0016.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0017.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0018.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0019.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0020.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0021.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0022.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0023.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0024.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0025.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0026.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0027.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0028.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0029.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0030.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0031.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0032.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0033.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0034.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0035.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0036.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0037.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0038.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0039.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0040.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0041.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ_gen0042.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_bZ.mp4
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0001.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0002.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0003.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0004.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0005.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0006.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0007.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0008.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0009.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0010.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0011.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0012.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0013.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0014.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0015.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0016.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0017.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0018.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0019.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0020.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0021.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0022.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0023.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0024.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0025.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0026.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0027.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0028.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0029.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0030.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0031.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0032.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0033.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0034.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0035.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0036.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0037.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0038.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0039.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0040.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0041.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ_gen0042.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KXZ.mp4
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0001.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0002.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0003.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0004.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0005.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0006.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0007.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0008.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0009.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0010.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0011.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0012.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0013.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0014.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0015.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0016.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0017.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0018.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0019.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0020.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0021.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0022.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0023.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0024.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0025.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0026.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0027.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0028.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0029.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0030.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0031.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0032.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0033.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0034.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0035.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0036.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0037.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0038.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0039.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0040.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0041.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ_gen0042.png
tests/equalK_sweep/equalK_ODE/R/anim/pca_phase_KZ.mp4
